<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <input formControlName="UserName"/>
  <input formControlName="Password" type="password"/>
 
  <button type="submit">Signin</button>

</form>
<input type="file"
id="file"
(change)="handleFileInput($event.target.files)">